# Visual Studio user files
.vs/
*.vcxproj.user
*.vcxproj.filters

# Build output
x64/
Debug/
Release/
*.exe
*.pdb
*.lib
*.obj
*.tlog/

# Settings
settings.ini

# InnoSetup
*.iss
OnTop Windows_Setup.exe

# Advanced Installer
*.aip

# Build scripts
*.bat

# Installer cache
.wix/
OnTopWindows-cache/


